body
{
  background-color: #A9A9A9;
  text-align: left;
}
header{
	width: 100%;
  background-color: #2F4F4F;
  color: #DCDCDC;
  height: 90px;
  padding-left: 3%;
}
footer{
	width: 100%;
	background-color: #2F4F4F;
	color: #DCDCDC;
  min-height: 50px;
}


#nav-main-wrapper
{
  display: flex;
  flex-direction: column;
}

nav
{
  background-color: #778899;
  width: 100%;
  padding-left: 3%;
  font-size: 150%;
}


#logo
{
  width:80px;
  float:left;
  margin-right: 20px;
  margin-top: 5px;
  margin-left: 3%;
}

#m1,#m2,#m3
{
  flex:1;
}

#table-form-ol
{
  display: flex;
  flex-direction: column;
}

.content{
  width: 100%;
	background-color: rgba(199, 220, 227, 0.77);
  padding-left: 10px;
}
#ol
{
  order: 1;
}
#table
{
  order: 3;
}
#forma
{
  order:2;
}
table{
  width: 400px;
  height: 200px;
}
th
{
  text-align: center;
  border: 4px double black;
}
td
{
  text-align: center;
  border: 4px double black;
}

.chet
{
  background-color: #7B68EE;
}

.nechet
{
  background-color: #87CEFA;
}

@media screen and (min-width: 576px)
{

  #logo
  {
    width:80px;
    float:left;
    margin-right: 20px;
    margin-top: 5px;
    margin-left: 13%;
  }

  .content{
  	max-width: 960px;
    margin:auto;
  }

  #nav-main-wrapper
  {
    flex-direction: row;
  }

  #ol
  {
    order: 1;
  }
  #table
  {
    order: 2;
  }
  #forma
  {
    order:3;
  }

  nav
  {

    max-width: 960px;
    margin: auto;
    height: 50px;
    display:flex;
    text-align: center;
    font-size: 200%;
    padding-left: 10px;
  }

}
